<div class="footer">
  <ul class="footer-nav list-inline">
    <li class="foot-item foot-social">
      <%= link_to "#", class: "foot-link" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to "#", class: "foot-link" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      <%= link_to "#", class: "foot-link" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </li>
    <li class="foot-item foot-item-shield">
      <%# <%= image_tag "rmr-logo.svg", alt: "RMR Logo", height: 48 %>
    </li>
    <li class="foot-item foot-site-info">
      <p>Site created with ♥ by Robert Rowe<br>© Rob M Rowe 2021</p>
    </li>
  </ul>
</div>
